doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ITI: New Book
    body 
        h1 New Book: 
        h3= title
        p= description